/*轮播图样式*/
.slide {
    width: 100%;
    height: 400px;
    margin: 1px 0 12px 0;
}

#boxId {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    background: #dddddd;
}

/*主页页面主体样式*/
#content {
    width: 1280px;
    height: 500px;
    margin: 10px auto 0;
    background: #D3D3D3;
}

/*射击类游戏样式*/

/*动作冒险类样式*/

/*体育类样式*/

/*手游类样式*/
